```{=html}
<ul class="talks list">
  <% for (const item of items) { %>
  <li <%= metadataAttrs(item) %>>
    <!-- title -->
    <div class="listing-name">
      <%= item.title %>
    </div>
    <!-- venue -->
    <div class="listing-venue">
      <% if (item.venue) { %>
      <%= item.venue %>
      <% } %>
    </div>
    <!-- date-->
    <div class="listing-date">
      <% if (item.date) { %>
      <%= item.date %>
      <% } %>
    </div>
    <!-- links -->
    <ul class="listing-links">
      <% if (item.url) { %>
      <li class="listing-link">
        <a href="<%= item.url %>" class="listing-link-url">
          <span><i class="fa fa-link fa-fw"></i>&nbsp;URL</span>
        </a>
      </li>
      <% } %>
      <% if (item.slides) { %>
      <li class="listing-link">
        <a href="<%= item.slides %>" class="listing-link-slides">
          <span><i class="fa fa-file fa-fw"></i>&nbsp;Slides</span>
        </a>
      </li>
      <% } %>
    </ul>
  </li>
  <% } %>
</ul>
```